<h1>힘세고 강한 아침, 만일 내게 물어본다면 나는 왈도.</h1>

<div id="convert-bar">
	<div id="waldorize-box">
		<input type="text" id="waldorize-field" size="50" placeholder="왈도!" />
		<button class="waldorize-button">왈도!</button>&nbsp;&nbsp;
		<button class="deshift-button">쒸프트뺴끼</button>
	</div>
<h2 id="waldorized-field"></h4>
</div>

